
.icon-off:before { content: '\e805'; } /* '' */
.icon-cw-1:before { content: '\e806'; } /* '' */
.icon-arrows-cw-1:before { content: '\e807'; } /* '' */
.icon-cog-1:before { content: '\e808'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */